src/id2208/hw1/xml/shortCvSchema.xsd

<?xml version="1.0"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           xmlns="http://www.ournamespace.net">
    
    <xs:element name="person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstname" type="xs:string"/>
                <xs:element name="lastname" type="xs:string"/>
                <xs:element name="ssn" type="xs:string"/>                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    

</xs:schema>
